{% extends "base.html" %}
{% block title %}Novi oglas{% endblock %}
{% block content %}

<h2 class="mt-4">Objavi oglas</h2>

<form method="post" enctype="multipart/form-data">
  {{ form.hidden_tag() }}

  <div class="mb-3">
    {{ form.title.label }}
    {{ form.title(class="form-control") }}
  </div>

  <div class="mb-3">
    {{ form.description.label }}
    {{ form.description(class="form-control", rows="5") }}
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      {{ form.category.label }}
      {{ form.category(class="form-select") }}
    </div>

    <div class="col-md-6 mb-3">
      {{ form.price.label }}
      {{ form.price(class="form-control") }}
    </div>
  </div>

  <div class="mb-3">
    {{ form.location.label }}
    {{ form.location(class="form-control") }}
  </div>

  <div class="mb-3">
    {{ form.image.label }}
    {{ form.image(class="form-control") }}
  </div>

  <button class="btn btn-primary">Objavi</button>
</form>

{% endblock %}
